@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper{
  position: relative;
  padding: 27px 0 32px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  max-width: 130px; /* Adjust the max-width as needed */
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-heading {
  font-weight: bold;
  padding: 8px 16px;
}

header .container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropdown-menu a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.hamburger-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.fa-bars {
  font-size: 80px;
  color: #000000;
}

.forms-container {
  position: relative;
  width: 100%;
}

.signin-signup {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.9rem;
  color: #000000;
  margin-bottom: 10px;
  text-align: center; /* Add this line to center the text */
}

.para{
  font-size: 0.8rem;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

img{
  width: 100%;
}


.container{
  width: 700px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
}
.box{
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  font-size: 35px;
  margin: 15px;
}
.name{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.name i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.name input{
  width: 100%;
  padding: 20px 60px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 40px;
}
.name input::placeholder{
  color: #bbb;
  font-weight: 500;
}
.email{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.email i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.email input{
  width: 100%;
  padding: 20px 60px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 40px;
}
.email input::placeholder{
  color: #bbb;
  font-weight: 500;
}
.message-box{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
.message-box i{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.message-box textarea{
  width: 100%;
  padding: 20px 60px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 40px;
}
.message-box textarea::placeholder{
  color: #bbb;
  font-weight: 500;
}

.button{
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
}
.button button{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #806bcd;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
}
