@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

.wrapper{
    position: relative;
    padding: 27px 0 32px;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    max-width: 150px; /* Adjust the max-width as needed */
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-heading {
    font-weight: bold;
    padding: 8px 16px;
}

.dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.profile{
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 25px;
    border: 2px solid var(--darkOne);
    cursor: pointer;
    overflow: hidden;
}
.profile img{
    width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 10px 30px; /* Adjust padding as needed */
    color: #fff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: uppercase; /* Change to uppercase */
    transition: 0.3s;
    border: none; /* Remove border */
    cursor: pointer; /* Add pointer cursor */
}

.btn:hover {
    background-color: var(--hoverColor);
    transform: scale(1.05);
}

header .container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container {
    position: relative;
    max-width: 1296px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-menu {
    width: 380px;
    margin: 150px auto;
}

.select-menu .select-btn {
    position: relative;
    top: -140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    background: #fff;
    color: #000000;
    font-size: 18px;
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-btn .icon-arrow {
    font-size: 25px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-bottom: 0;
}

.links li {
    margin: 0;
}

.links a {
    color: var(--lightTwo);
    font-weight: 600;
    text-decoration: none;
    transition: 0.1s;
}

.links a:hover {
    transform: scale(1.05);
}

.book-event-btn {
    display: inline-block;
    padding: 7px 20px;
    color: #fff !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.3s;
}

.book-event-btn:hover {
    background-color: var(--hoverColor);
    transform: scale(1.05);
}

.hamburger-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.fa-bars {
    font-size: 80px;
    color: #000000;
}


.person{
    width: 150%;
    transform: translate(0% , 40px);
}

.toggle-btn{
    display: inline-block;
    border: none;
    text-align: center;
    background: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.toggle-btn i{
    line-height: 39px;
}

.toggle-btn:hover{
    background: var(--mainColor);
}

.toggle-btn i:last-child{
    display: none;
}

.wrapper.light .toggle-btn i:last-child{
    display: none;
}
.wrapper.light .toggle-btn i:first-child{
    display: block;
}
.wrapper.dark .toggle-btn i:last-child{
    display: block;
}
.wrapper.dark .toggle-btn i:first-child{
    display: none;
}

.copy{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

@keyframes appear{
    0%{
        clip-path: circle(30% at -25% -25%);
    }
    100%{
        clip-path: circle(150% at 0 0);
    }
}

@media screen and (max-width: 1104px){
  .title h1{
    font-size: 30px;
}

.btn{
  padding: 5px 16px;
}

}
@media screen and (max-width: 992px){

  .links a{
    font-size: 14px;
}

.btn{
  padding: 5px 16px;
}

}


@media screen and (max-width: 768px){

.person{
  width: 80%;
  transform: none;
}

.btn{
  padding: 5px 16px;
}

.hamburger-menu{
  display: inline-block;
  margin-right: -20px;
  cursor: pointer;
  z-index: 999;
}

.links{
  position: fixed;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  background: var(--backgroundColor);
  color: var(--lightTwo);
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: 0.5s;
}

.links.active{
  right: 0;
}

.links ul{
  display: block;
}

.links li a{
  display: inline-block;
  padding: 27px 0;
}
.links li a:hover{
  color: var(--darkOne);
}

.links .profile{
  position: absolute;
  margin-left: 30px;
  padding-left: 0;
  width: 50px;
  height: 50px;
  top: 30px;
  left: 0;
}

.wrapper.active .links {
  transform: translateX(0);
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.8);
}

}